   <form method="post"
        action="https://ss.propertysmart.us/vweb/orders/assignments_o.aspx?unique_id=25a621e9-824a-40b4-80ec-a5a7c97051fd&amp;vendor_employee_ID=806146&amp;order_detail_id=77474796"
        id="Form1">
        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE"
                value="/wEPDwUKLTI0MTU2ODQ2OWRkIFJ7JUK9ahT6jOxosF9pLOK+7uDXvemKCh7ieeD10Ik=">
        </div>

        <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="73368199">
        </div>
        <input type="hidden" id="employee_name" name="employee_name" value="Ryan Widney">
        <input type="hidden" id="external_request" name="external_request" value="true">
        <input type="hidden" id="buid" name="buid" value="250919ca-12a5-4151-b7a3-863b55eab6fe">
        <input type="hidden" id="txt_URL_Business_Homepage" name="txt_URL_Business_Homepage"
            value="http://www.singlesourceproperty.com/">
        <table height="60px" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td nowrap="" width="300" align="left"><img src="./single_source_updated_files/ss.png"></td>
                    <td nowrap="" align="center">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="lbltxt_9" valign="top">Welcome </td>
                                    <td class="lblhd_9">Ryan Widney <font class="ms_link"><br>Showcase Premiere Realty
                                            LLC</font>
                                    </td>
                                    <td valign="bottom" nowrap=""><input type="submit" style="" name="toolbar_action"
                                            id="toolbar_action" value="SAVE"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" style="margin-right:5px;margin-left:5px;">
            <tbody>
                <tr>
                    <td>

                        <script src="./single_source_updated_files/jquery-1.8.3.min.js.download"
                            type="text/javascript"></script>
                        <script src="file:///C:/Users/tvm400/Downloads/assignments_o_files/jquery-ui.min.js.download"
                            type="text/javascript"></script>
                        <link href="./single_source_updated_files/jquery-ui.css" rel="stylesheet" type="text/css">
                        <script language="javascript">
                            <!--
                                function load_order ( x ) {
                                    if (document.getElementById('external_request')) {
                                        document.getElementById('order_detail_id').value = x;
                                        document.getElementById('Form1').submit();
                                    }
                                    else {
                                        //document.getElementById('order_detail_id').value = x;
                                        //document.getElementById('Form1').submit();
                            	
                            	
                                        document.getElementById('order_detail_id').value = x;
                                        document.getElementById('Form1').action = '/vweb/orders/order_detail_v.aspx';
                                        document.getElementById('__VIEWSTATE').name = "VIEWSTATE1";
                                        load_menu(215,95,378); 
                                        document.getElementById('Form1').submit();
                                        document.getElementById('__VIEWSTATE').name = "__VIEWSTATE";
                                    }
                                }
                                function send_password()
                                {
                                    var new_win = window.open("https://ss.propertysmart.us/utils/send_password.aspx?uid=" + document.getElementById("buid").value,null,"height=200,width=400,status=yes,toolbar=no,menubar=no,location=no")
                                }
                                function display_info(x, y) {
                                    document.getElementById("conditional_accept_info|" + y).style.display = 'none';
                                    document.getElementById("td_requested_fee|" + y).style.display = 'none';
                                    document.getElementById("td_reasons|" + y).style.display = 'none';
                                    document.getElementById("td_comments|" + y).style.display = 'none';
                                    document.getElementById("decline_reason_area|" + y).style.display = 'none';    
                                    document.getElementById("return_date_area|" + y).style.display = 'none';
                                    document.getElementById("requested_fee|" + y).readOnly = false;
                                    document.getElementById("message_info|" + y).style.display = 'none';
                                    document.getElementById("dte_estimated_completion|" + y).readOnly = false;
                                    document.getElementById("coverage_message_info|" + y).style.display = 'none';
                            
                                    if (x.value == 1 ||x.value == 2 || x.value == 3) {
                                        document.getElementById("conditional_accept_info|" + y).style.display = 'table-row';
                                        if (x.value == 1) {
                                            document.getElementById("td_requested_fee|" + y).style.display = '';
                                            document.getElementById("requested_fee|" + y).readOnly = true;
                                            document.getElementById("dte_estimated_completion|" + y).readOnly = true; 
                                        }
                                        if (x.value == 2 || x.value == 3) {            
                                            document.getElementById("td_requested_fee|" + y).style.display = '';
                                            document.getElementById("td_reasons|" + y).style.display = '';
                                            document.getElementById("td_comments|" + y).style.display = '';
                                            document.getElementById("message_info|" + y).style.display = 'table-row';
                                        }
                                    }
                                    if (x.value == 4) {
                                        document.getElementById("decline_reason_area|" + y).style.display = '';
                                        document.getElementById("message_info|" + y).style.display = 'table-row';
                                    }	
                                            
                                    inspect_req(y);
                                }
                                function fn_decline_reason(x, y) {
                                    document.getElementById("return_date_area|" + y).style.display = 'none';
                                    document.getElementById("td_decline_comments|" + y).style.display = '';
                                    document.getElementById("td_decline_reasons|" + y).style.display = '';
                                    document.getElementById("lbl_return_date|" + y).innerHTML = 'Out of Office Return Date:';
                                    document.getElementById("coverage_message_info|" + y).style.display = 'none';
                                
                                    if (x.value == 3) {
                                        document.getElementById("return_date_area|" + y).style.display = '';        
                                    }
                                    if (x.value == 2) {
                                        document.getElementById("return_date_area|" + y).style.display = '';
                                        document.getElementById("lbl_return_date|" + y).innerHTML = 'Date available to accept new orders';
                                    }
                                    if (x.value == 4) {
                                        document.getElementById("coverage_message_info|" + y).style.display = 'table-row';
                                    }
                                }
                            
                                function display_reasons(x, y) {
                                    document.getElementById("conditional_accept_info|" + y).style.display = 'none';
                                    document.getElementById("td_requested_fee|" + y).style.display = 'none';
                                    document.getElementById("td_reasons|" + y).style.display = 'none';
                                    document.getElementById("td_comments|" + y).style.display = 'none';
                                    document.getElementById("decline_reason_area|" + y).style.display = 'none';    
                                    document.getElementById("return_date_area|" + y).style.display = 'none';
                                    document.getElementById("requested_fee|" + y).readOnly = false;
                                    document.getElementById("message_info|" + y).style.display = 'none';
                                    document.getElementById("dte_estimated_completion|" + y).readOnly = false;
                                    document.getElementById("coverage_message_info|" + y).style.display = 'none';
                            
                            
                                    if (x.value == 4) {
                                        document.getElementById("decline_reason_area|" + y).style.display = '';
                                        document.getElementById("message_info|" + y).style.display = 'table-row';
                                    }	
                                            
                                    inspect_req(y);
                                }
                            
                            
                                function openletter(x)
                                {
                                    if (x != '')
                                    {
                                        newWindow = open(x,"_blank","toolbar=no,location=no,directories=no,status=no,menubar=yes,scrollbars=yes,resizable=1,width=630,height=480",false);
                                    }
                            
                                }
                                function addtime(x)
                                {
                                    if (document.getElementById("dte_inspection_hr|" + x).value != '' && document.getElementById("dte_inspection_min|" + x).value != '')
                                    {
                                        document.getElementById("dte_inspection_time|" + x).value = document.getElementById("dte_inspection_hr|" + x).value + ":" + document.getElementById("dte_inspection_min|" + x).value + ":00 " + document.getElementById("dte_inspection_period|" + x).value;
                                    }
                                }
                                 
                            
                                document.getElementById("Form1").onsubmit = function() {return validate_offer(this)};
                               
                                function validate_offer(x) {        
                                    var oid = '';
                                    var msg = false;
                                    for (i = 0; i < x.elements.length; i++){
                                        oid = '';
                                        if (x.elements[i].name.indexOf("hid_order_number") > -1)
                                        {
                                            oid = x.elements[i].name.split('_')[3];                
                                            if (inspect_req(oid)){
                                                alert('The following field(s) are required.\n _________________________________\n Inspection Date');    
                                                msg = true;
                                            }
                                        }
                                        
                                    }
                            
                                    if(msg == true){
                                        return false; 
                                    }else{
                                        return true; 
                                    }
                                }
                            
                                function inspect_req(x){
                                    var req = false;        
                                    document.getElementById('dte_inspection_' + x).required = false;
                                    if (document.getElementById('hid_customer_id_' + x).value == '4315'){
                                        if (document.getElementById('dte_inspection_' + x)){     
                                            if (document.getElementById('accept_order|' + x).value != '-1' && document.getElementById('accept_order|' + x).value != '4' && document.getElementById('dte_inspection_' + x).value == ''){
                                                req = true;
                                                document.getElementById('dte_inspection_' + x).required = true;
                                                document.getElementById('dte_inspection_' + x).label = 'Inspection Date';
                                            }
                                        }        
                                    }
                            
                                    if(req == true){
                                        return true;
                                    }else{
                                        return false;
                                    }
                            
                                }
                            
                                if (document.getElementById("toolbar_action")){if(document.getElementById("toolbar_action").style.display == 'none'){document.getElementById("toolbar_action").style.display = '';}}
                                //-->
                        </script>
                        <script language="javascript"
                            src="./single_source_updated_files/page_utils.js.download"></script>
                        <input type="hidden" id="user_ID" name="user_ID" value="">
                        <input type="hidden" id="employee_id" name="employee_id" value="145454">
                        <input type="hidden" id="username" name="username" value="Ryan Widney">
                        <input type="hidden" id="txt_email" name="txt_email" value="">
                        <input type="hidden" id="order_detail_id" name="order_detail_id">
                        <input type="hidden" id="order_fee" name="order_fee" value="">
                        <input type="hidden" id="state_id" name="state_id" value="">
                        <input type="hidden" id="customer_account_id" name="customer_account_id" value="">
                        <input name="ASSIGNMENTS$order_assignment_detail_ID" type="hidden"
                            id="ASSIGNMENTS_order_assignment_detail_ID">

                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table style="width:100%;">
                            <tbody>
                                <tr style="width:100%">
                                    <td class="lblhd" nowrap="">Order Number</td>
                                    <td class="lblhd" nowrap="">Product</td>
                                    <td class="lblhd" nowrap="">Property Address</td>
                                    <td class="lblhd" nowrap="">Fee</td>
                                    <td class="lblhd" nowrap="">Due Date</td>
                                    <td class="lblhd" nowrap="">Accept/Decline</td>
                                    <td class="lblhd" nowrap="">Engagement Letter</td>
                                    <td class="lblhd" nowrap="">Map</td>
                                </tr>
                                <tr>
                                    <td class="lblhd" nowrap="">463337720</td>
                                    <td class="ms_text" nowrap="">BPO Exterior 5 Day</td>
                                    <td class="lbltxt" nowrap="">1469 ST GEORGE PL , CONYERS, 30012</td>
                                    <td class="lbltxt" style="color red; font-weight: bold;" nowrap="">35.00</td>
                                    <td class="lbltxt" style="color red; font-weight: bold;" nowrap="">1/15/2024</td>
                                    <td class="lbltxt" nowrap=""><select id="accept_order|77483474"
                                            name="accept_order|77483474"
                                            onchange="display_info(this, &#39;77483474&#39;)">
                                            <option value="-1"></option>
                                            <option value="1">Accept</option>
                                            <option value="2">Conditionally Accept</option>
                                            <option value="2">Fee Change Request</option>
                                            <option value="3">Cannot Meet Due Date</option>
                                            <option value="4">Decline</option>
                                        </select></td>
                                    <td class="lbltxt" nowrap=""><a
                                            href="javascript: openletter(&#39;https://ss.propertysmart.us/modules/open_file.aspx?type=order&amp;uid=17328ade-e08b-42b1-bbae-63615d968699&amp;fname=Engagement_Letter_Ryan Widney.htm&#39;)">vendor
                                            partner letter Of engagement</a></td>
                                    <td class="lbltxt" nowrap=""><a
                                            href="javascript: openmap(&#39;subject_map.gif&#39;,&#39;17328ade-e08b-42b1-bbae-63615d968699&#39;)">map</a>
                                    </td>
                                </tr>
                                <tr id="message_info|77483474" style="display: table-row;">
                                    <td colspan="8" valign="top" class="lblhd_10">*Enter In the requested information
                                        And press save To decline the order. The order will be removed from your pending
                                        assignments.</td>
                                </tr>
                                <tr id="conditional_accept_info|77483474" style="display: table-row;">
                                    <td colspan="9" valign="top">
                                        <table border="0" style="width: 100%">
                                            <tbody>
                                                <tr>
                                                    <td class="lbltxt" valign="top">Estimated Completion
                                                        Date:&nbsp;<input type="text"
                                                            id="dte_estimated_completion|77483474"
                                                            name="dte_estimated_completion|77483474" value="1/15/2024"
                                                            size="10"></td>
                                                    <td class="lbltxt" valign="top" id="td_inspection_date_77483474"
                                                        style="display: none;">Inspection Date:&nbsp;<input type="text"
                                                            id="dte_inspection_77483474" name="dte_inspection_77483474"
                                                            value="" size="10" readonly=""><select
                                                            id="dte_inspection_hr|77483474"
                                                            name="dte_inspection_hr|77483474"
                                                            onchange="addtime(&#39;77483474&#39;)">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                        </select><select id="dte_inspection_min|77483474"
                                                            name="dte_inspection_min|77483474"
                                                            onchange="addtime(&#39;77483474&#39;)">
                                                            <option value=""></option>
                                                            <option value="00">00</option>
                                                            <option value="05">05</option>
                                                            <option value="10">10</option>
                                                            <option value="15">15</option>
                                                            <option value="20">20</option>
                                                            <option value="25">25</option>
                                                            <option value="30">30</option>
                                                            <option value="35">35</option>
                                                            <option value="40">40</option>
                                                            <option value="45">45</option>
                                                            <option value="50">50</option>
                                                            <option value="55">55</option>
                                                        </select><select id="dte_inspection_period|77483474"
                                                            name="dte_inspection_period|77483474"
                                                            onchange="addtime(&#39;77483474&#39;)">
                                                            <option value="AM" selected="">AM</option>
                                                            <option value="PM">PM</option>
                                                        </select><input type="hidden" id="dte_inspection_time|77483474"
                                                            name="dte_inspection_time|77483474" value=""></td>
                                                    <td class="lbltxt" valign="top" id="td_requested_fee|77483474"
                                                        style="">Requested Fee:&nbsp;<input type="text"
                                                            id="requested_fee|77483474" name="requested_fee|77483474"
                                                            value="35.00" size="10"></td>
                                                    <td class="lbltxt" valign="top" align="right"
                                                        id="td_reasons|77483474" style="">Include Reasons for fee And/
                                                        Or due date conditions:&nbsp;</td>
                                                    <td class="lbltxt" valign="top" id="td_comments|77483474" style="">
                                                        <textarea id="comments|77483474" name="comments|77483474"
                                                            cols="50" rows="5"></textarea></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr id="decline_reason_area|77483474" name="decline_reason_area|77483474"
                                    style="display: none;">
                                    <td colspan="8" valign="top">
                                        <table border="0">
                                            <tbody>
                                                <tr>
                                                    <td class="lbltxt" valign="top">Decline Reason </td>
                                                    <td class="lbltxt" valign="top"><select id="decline_reason|77483474"
                                                            name="decline_reason|77483474"
                                                            onchange="fn_decline_reason(this, &#39;77483474&#39;)">
                                                            <option value="-1" selected=""></option>
                                                            <option value="2">At Capacity</option>
                                                            <option value="3">Out Of Office</option>
                                                            <option value="4">Out Of Coverage Area</option>
                                                        </select></td>
                                                    <td class="lbltxt" valign="top" id="return_date_area|77483474"
                                                        style="display: none;"><label id="lbl_return_date|77483474">Out
                                                            Of Office Return Date:</label>&nbsp;<input type="text"
                                                            id="return_date_77483474" name="return_date_77483474"
                                                            value="" size="10"><a
                                                            href="javascript: showCalendar(&#39;return_date_77483474&#39;, 0)"><img
                                                                src="./single_source_updated_files/icon_calendar.gif"
                                                                border="0" alt=" width=" 15"="" height="15"></a></td>
                                                    <td class="lbltxt" valign="top" align="right"
                                                        id="td_decline_reasons|77483474" style="display: none;">Send a
                                                        Message to SingleSource/Order Detail Decline Comments&nbsp;</td>
                                                    <td class="lbltxt" valign="top" id="td_decline_comments|77483474"
                                                        style="display: none;"><textarea id="decline_comments|77483474"
                                                            name="decline_comments|77483474" cols="50"
                                                            rows="5"></textarea></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr id="coverage_message_info|77483474" style="display: none;">
                                    <td colspan="8" valign="top" class="lblhd_10">By selecting Out Of Coverage Area For
                                        this order, you authorize this zip code To be permanently removed from your
                                        coverage area. You will Not receive any further orders In this area.</td>
                                </tr><input type="hidden" id="hid_zip_77483474" name="hid_zip_77483474"
                                    value="30012"><input type="hidden" id="hid_order_number_77483474"
                                    name="hid_order_number_77483474" value="463337720"><input type="hidden"
                                    id="hid_customer_id_77483474" name="hid_customer_id_77483474" value="4406">
                            </tbody>
                        </table>

                        <script language="javascript">

                            $(function () { $('#dte_estimated_completion\\|77483474').datepicker(); }); document.getElementById('td_inspection_date_77483474').style.display = 'none';

                        </script>

                    </td>
                </tr>
            </tbody>
        </table>
    </form>